<div class="tasks-container">
    <div class="tasks-header">
      <h3 class="tasks-title">Задачи</h3>
    </div>

  <div class="tasks-add">
    <input type="text" class="task-input" placeholder="Введите название задачи..." [(ngModel)]="newTaskName">
    <button class="btn-add" (click)="addTask(newTaskName)" [disabled]="newTaskName.trim() == null"></button>
  </div>

    <ul class="tasks-list">
      @for (task of tasks(); track task.id; let i = $index) {
        <li class="task-item">
          <span class="task-text">{{ task.name }}</span>
          <button class="btn-delete" (click)="removeTask(task.id)"></button>
        </li>
      } @empty {
        <li class="tasks-empty">
          <span>Нет задач</span>
        </li>
      }
    </ul>
</div>
